---
layout: base.njk
---

<header class="main-header">
    <nav class="main-nav" id="main-nav">
        <div class="main-nav__links">
            <a href="/blog/">Blog</a>
            <a href="/projects/">Projects</a>
        </div>
        <img src="/img/mango.svg" alt="Navigation Menu" class="main-nav__mango" id="mango-toggle">
    </nav>
</header>

<main class="main-container">
    <div class="profile-card">
        <img src="/img/avatar.svg" alt="A portrait of Zhao Ma" class="profile-card__avatar">
        <div class="profile-card__info">
            <h1>Hi, I'm Zhao Ma</h1>
            <div class="social-links">
                <a href="https://github.com/Zh4o/" aria-label="GitHub"><img src="/img/github.svg" alt="GitHub icon"></a>
                <a href="https://www.linkedin.com/in/zhao-ma" aria-label="LinkedIn"><img src="/img/linkedin.svg" alt="LinkedIn icon"></a>
                <a href="mailto:contact@zhaolma.com" aria-label="Email"><img src="/img/email.svg" alt="Email icon"></a>
            </div>
            <p>I like to build stuff and have fun in the process.</p>
        </div>
    </div>
</main>