{# _includes/header.njk #}
<header class="main-header">
    <nav class="main-nav" id="main-nav">
        <div class="main-nav__links">
            <a href="/blog/">Blog</a>
            <a href="/projects/">Projects</a>
        </div>
        
        <a href="/" id="mango-nav-control" aria-label="Toggle Menu or Go Home">
            <img src="/img/mango.svg" alt="Navigation Menu" class="main-nav__mango">
            <span class="main-nav__home-label">home</span>
        </a>
    </nav>
</header>