{# _includes/header.njk #}
<header class="main-header">
    <nav class="main-nav" id="main-nav">
        <div class="main-nav__links">
            <a href="/blog/">Blog</a>
            <a href="/projects/">Projects</a>
        </div>
        {# The mango is now a link back to the homepage #}
        <a href="/" class="main-nav__mango-link" aria-label="Back to Home">
            <img src="/img/mango.svg" alt="Navigation Menu" class="main-nav__mango" id="mango-toggle">
        </a>
    </nav>
</header>